# URL de l'API Symfony (préfixe NEXT_PUBLIC_ requis pour l'exposer côté navigateur)
NEXT_PUBLIC_API_URL=https://localhost

# Port de l'app Next.js
APP_PORT=3000

# PostgreSQL
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=!ChangeMe!
POSTGRES_VERSION=16